{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table table-bordered align-middle">
        <thead>
            <tr>
              <td scope="col">Task</td>
              <td scope="col">Status</td>
            </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                <td>
                  <form 
                    action="/update-status" 
                    method="post"
                  >
                    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}"/>
                    <select 
                      name="status" 
                      id="status"
                      class="form-select border border-0"
                    >

                    {% for status in statuses %}
                      <option 
                          value="{{status}}"
                          {% if status == item.status %} selected {% endif %}
                        >
                          {{ status }}
                      </option>
                    
                    {% endfor %}

                  </select>
                  
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
  </div>

  <form action="/add-item" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Add a task to do: </label>
      <input type="text" name="title" id="title" class="form-control" required />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Put it on the list</button>
    </div>
  </form>
{% endblock %}