{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Things to do</h2>
      <table class="table table-bordered align-middle">
        <thead>
            <tr>
              <td scope="col">Task</td>
              <td scope="col">Status</td>
              <td scope="col">Move to done?</td>
            </tr>
        </thead>
        {{ view_model.items.name }}
        {% for card in view_model.items %}
            <tr>
                <td>{{ card.name }}</td>
                <td>{{ card.status }}</td>
                <td>
                  {% if card.status == "To Do" %}
                    <form id="complete-item" action="/complete-item" method="post">           
                      <input type="hidden" name="item_id" id="item_id" value="{{card.id}}" class="hidden" />
                      <input type="submit" value="Done" class="btn btn-primary" />
                    </form>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
  </div>

  <form id="add-item" action="/add-item" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Add a task to do: </label>
      <input type="text" name="title" id="title" class="form-control" required />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Add to my To Do list</button>
    </div>
  </form>
{% endblock %}